* {
  font-family: Tahoma;
}
body {
  background-color: #ADF;
}
a {
  color: #04F;
}
a:active {
  color: red;
}
.transition-all-ease {
  transition: all ease 300ms;
}
.strikethrough {
  text-decoration: line-through;
}
.italic {
  font-style: italic;
}
.hide {
  display: none;
}
table {
  border: solid 2px black;
  border-collapse: collapse;
}
table th {
  border: solid 1px black;
  padding: 3px;
}
table td {
  border: solid 1px black;
  padding: 3px;
}
.darkmode {
  color: white;
  background-color: #013;
}
.darkmode table {
  border: solid 2px white;
}
.darkmode table th {
  border: solid 1px white;
}
.darkmode table td {
  border: solid 1px white;
}
.concept_isnew {
  color: lime;
}
.concept_isupdated {
  color: cyan;
}
.floater {
  position: fixed;
  top: 20px;
  right: 20px;
  background: linear-gradient(#0AF, #0083c5);
  border-radius: 4px;
  color: black;
  font-weight: bold;
  padding: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 4px black, inset 3px 3px 5px #FFFFFFA0;
}
.floater p {
  margin: 8px;
  user-select: none;
}
#darkmode_toggle {
  display: none;
}
.floater_clickable {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.floater_clickable:visited {
  color: black;
}
.floater_clickable:hover {
  color: blue;
}
.floater_clickable:active {
  color: red;
}
